*{
    padding: 0;margin: 0;box-sizing: border-box;
}

body{
    background-color: #f9f9fa;
}

header {
    position: fixed;
    width: 100%;
    z-index: 999;
}

main{
    padding-top: 55px;
}


aside{
    width: 100px;
}

.sidebar{
    width: 100px;
    background-color: #12283e;
    background-image: url(../img/sidebar-bg.png);

}




.sidebar-top{
    height: 100px;
}

.sidebar-bottom{
    height: 100px;
    display: flex;
    align-items: flex-end;
}



.sidebar-list li{
    list-style: none;
    padding: 5px 0;
}

.sidebar-list a{
    text-decoration: none;
}

.content{
    width: calc(100% - 100px);


}
.main-start{
    background-color: #1d72e8;
    
    top: 0;
    justify-content: space-between;
    padding: 10px 5px;
    
}

.star-list span{
    background-color: #2b558f;
}



.ms-table-img{
    max-width: 30px;
    border-radius: 50%;
}






