*{
    padding: 0;margin: 0;box-sizing: border-box;
}

body{
    background-color: #f9f9fa;
}

.main-header{
    height: 1000px;
    background-color: blue;
    width: 100px;
}

aside{
    width: 100px;
}

.sidebar{
    width: 100px;
    background-color: #12283e;
    height: 900px;
    background-image: url(../img/sidebar-bg.png);

}




.sidebar-top{
    height: 100px;
    background-color: orange;
}



.sidebar-list li{
    list-style: none;
    padding: 5px 0;
}

.sidebar-list a{
    text-decoration: none;
}

