*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f9f9fa;
}

header {
    width: 100%;
    z-index: 999;
}



aside{
    width: 100px;
}

.sidebar{
    max-width: 100px;
    background-color: #12283e;
    background-image: url(../img/sidebar-bg.png);

}




.sidebar-top{
    height: 60%;
}

.sidebar-bottom{
    height: 40%;
    display: flex;
    justify-content: center;
}
.sidebar-list ul{
    padding: 10px 10px;
}


.sidebar li{
    list-style: none;
    padding: 5px 0;
}

.sidebar-list li:hover{
    background-color: gray;
}

.sidebar-list a{
    text-decoration: none;
}

.icons i{
    padding-left: 15px;
    
}

.content{
    width: calc(100% - 100px);

}

.main-start{
    background-color: #1d72e8;
    
    top: 0;
    justify-content: space-between;
    padding: 10px 5px;
    
}


.star-list span{
    background-color: #2b558f;
}



.ms-table-img{
    max-width: 30px;
    border-radius: 50%;
}

.ms-bg-pill{
    background-color: #185bbb;
}

/* Responsive */

@media screen and (max-width: 992px) {

    aside{
        width: 60px;
    }

    .content{
        width: 100%;
    }
  
}










